header#main-header{
  width: 1550px;
  height: 100px;
  background: slateblue;
  font-size: 50px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

}